* {
  margin: 0%;
  padding: 0%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: black;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}
.navmenu {
  display: flex;
  align-items: center;
  list-style: none;
  color: #626262;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}
.navmenu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.navmenu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: red;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
